
* {
  all: unset;
}

label, button {
  color: #ff0000;
  font-family: "JetBrainsMono Nerd Font", "Noto Sans CJK JP";
  font-weight: bold;
}

.island-bg-compact, .cpu-island {
  background-color: #000000;
  border: 2px solid #ff0000;
  border-radius: 15px;
  padding: 10px;
}

.cpu-island {
  border-radius: 20px;
}

.title-red {
  font-size: 14px;
}

.subtitle-red {
  font-size: 10px;
}

.donut-box {
  min-width: 120px;
  min-height: 120px;
}

.cpu-donut {
  color: #ff0000;
  background-color: #1a0000;
}

.cpu-icon {
  font-size: 30px;
}

.cpu-value {
  font-size: 16px;
}

.core-text {
  font-size: 10px;
  min-width: 25px;
}

progress trough {
  background-color: #111111;
  border-radius: 2px;
  min-height: 8px;
}

progress highlight {
  background-color: #ff0000;
  border-radius: 2px;
}

.app-text {
  font-size: 11px;
}

.btn-sm {
  font-size: 20px;
  padding: 5px;
}

.btn-sm:hover {
  background-color: #220000;
}
